[[#board/cell {:owner :red} #board/cell {:owner :red} #board/cell {:owner :red}
  #board/cell {:owner :red} #board/cell {:owner :red} #board/cell {:owner :red}
  #board/cell {:owner :red} #board/cell {:owner :red} #board/cell {:owner :red}
  #board/cell {:owner :red} #board/cell {:owner :red} #board/cell {:owner :red}
  #board/cell {:owner :red} #board/cell {:owner :red} #board/cell {:owner :red}
  #board/cell {:owner :red} #board/cell {:owner :red} #board/cell {:owner :red}]
 [nil nil nil nil nil nil nil nil nil nil nil nil nil nil nil nil nil nil]
 [nil nil nil nil nil nil nil nil nil nil nil nil nil nil nil nil nil nil]
 [nil nil nil nil nil nil nil nil nil nil nil nil nil nil nil nil nil nil]
 [nil #board/cell {:owner :red, :previous #board/wall {:sides #{:left :right}}} nil nil nil nil nil nil nil nil nil nil nil nil nil nil nil nil]
 [nil nil nil nil nil nil nil nil nil nil nil nil nil nil nil nil nil nil]
 [nil nil nil nil nil nil nil nil nil nil nil nil nil nil nil nil nil nil]
 [nil nil nil nil nil nil nil nil nil nil nil nil nil nil nil nil nil nil]
 [nil nil nil nil nil nil nil nil nil nil nil nil nil nil nil nil nil nil]
 [#board/cell {:owner :green} #board/cell {:owner :green} #board/cell {:owner :green}
  #board/cell {:owner :green} #board/cell {:owner :green} #board/cell {:owner :green}
  #board/cell {:owner :green} #board/cell {:owner :green} #board/cell {:owner :green}
  #board/cell {:owner :green} #board/cell {:owner :green} #board/cell {:owner :green}
  #board/cell {:owner :green} #board/cell {:owner :green} #board/cell {:owner :green}
  #board/cell {:owner :green} #board/cell {:owner :green} #board/cell {:owner :green}]]
