[[#board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}]
 [#board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}]
 [#board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}]
 [#board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}]
 [#board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}]
 [#board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}]
 [#board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}]
 [#board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}]
 [#board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}]
 [#board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}]
 [#board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}]
 [#board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red
               :previous
               #board/wall {:sides #{:left}}}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}]
 [#board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}
  #board/cell {:owner :red}]]
